.admin-table thead {
  color: white;
  background-color: #1f2f61;
  font-size: large;
}
.admin-table tbody {
  border-bottom: 0.5px solid;
  border-color: #c8d0dd;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5px;
  font-size: medium;
}

/* .admin-table td {
  vertical-align: middle;
  font-size: 14px;
} */

.modal-input {
  border-color: #1f2f61;
  border-width: 1px;
  border-style: solid;
}
.modal-input-error {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.btn-show-car {
  cursor: pointer;
  font-size: large;
}

button.p-button.p-component.btn.btn-info.p-button-rounded.p-button-icon-only {
  color: white;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
}

.hidden {
  display: none;
}

/* .etat-marche {
  background: #c8e6c9;
  color: #256029;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
} */
.etat-marche {
  color: #256029;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 1rem;
  background-color: transparent;
}

/* .etat-panne {
  background-color: #ffcdd2;
  color: #c63737;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
} */
.etat-panne {
  color: #c63737;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 1rem;
  background-color: transparent;
}

/* .status-car__mission {
  background-color: #eccfff;
  color: #694382;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
} */
.status-car__mission {
  color: #694382;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 1rem;
  background-color: transparent;
}

/* .status-car__disponible {
  background-color: #b3e5fc;
  color: #23547b;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
} */
.status-car__disponible {
  color: #23547b;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 1rem;
  background-color: transparent;
}

button.p-button.p-component.p-confirm-dialog-accept.btn.btn-danger {
  background-color: #ff4861 !important;
  border-color: #ff4861 !important;
}
