.admin-table thead {
  color: white;
  background-color: #1f2f61;
  font-size: large;
}
.admin-table tbody {
  border-bottom: 0.5px solid;
  border-color: #c8d0dd;
}

.modal-input {
  border-color: #1f2f61;
  border-width: 1px;
}

#update-button {
  color: #17a2b8;
}
#update-button:hover {
  color: white;
  background: #17a2b8;
}
