.admin-table thead {
  color: white;
  background-color: #1f2f61;
  font-size: large;
}
.admin-table tbody {
  border-bottom: 0.5px solid;
  border-color: #c8d0dd;
}

.admin-table td {
  vertical-align: middle;
  font-size: 14px;
}

.modal-input {
  border-color: #1f2f61;
  border-width: 1px;
}

.btn-show-car {
  cursor: pointer;
  font-size: large;
}

button.p-button.p-component.btn.btn-info.p-button-rounded.p-button-icon-only {
  color: white;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
}

.hidden {
  display: none;
}
